$spark-yellow: #f0e130;
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$theme-colors: (
	"primary":		$spark-yellow,
	"secondary":	$spark-yellow,
	"black":		#000,
	"dgray":		#383838,
	"carbon":		#222,
	"success":      $green,
	"darkred":		darkred,
	"danger":		$red,
	"info":			$cyan,
	"warning":		$yellow,
);
