<!DOCTYPE html>
<html>

<head>
	<%- include("parts/head") %>
</head>

<body>
	<%- include("parts/topbar") %>
	<div class="bb1" style="margin-bottom: 10%;">
		<h1 class="title center text-white">Whoops!</h1>
		<h2 class="bigsubtitle center">What Happened...?</h2>
	</div>

	<div class="bb1" style="margin-bottom: 10%; padding-bottom: 10%;">
		<h2 class="header">&emsp;- I don't have to explain it, do I?</h2>
		<a class="nodec" href="javascript:history.back();"><article>
			<p>
				You screwed up. Something happened. Error 404. Big sad. You might have been
				trying to act smart and find hidden articles, or maybe we made a mistake and
				there's a problem with our site. Either way, you can't do much about it.<br>

				Click anywhere on this pile o' text to go back to where you came from.
			</p>
		</article></a>
	</div>
</body>

</html>
