<!DOCTYPE html>
<html>

<head>
	<%- include("parts/head") %>
</head>

<body>
	<%- include("parts/topbar") %>
	<div class="container pb-5">
		<h1 class="display-6 text-center text-white">Error 404!</h1>
		<h2 class="display-1 text-center text-white">Oops...?</h2>
	</div>

	<a class="nodec" href="javascript:history.back();">
		<div class="container-fluid mt-6 pt-6 pb-8 bg-primary vert-border-black border-bottom-0">
			<p class="formal-text text-center">
				The resource could not be found.<br>
				The site's under development, so this is to be expected...<br><br>
				Click anywhere on this pile o' text to go back to where you came from.
			</p>
		</div>
	</a>
</body>

</html>
