<!DOCTYPE html>
<html>

<head>
    <%- include("parts/head") %>
</head>

<body>
    <%- include("parts/topbar") %>
        <div class="bb1 mb-5">
            <h1 class="title center text-white">About Sparklet</h1>
            <h2 class="bigsubtitle center">What's this site about?</h2>
        </div>
        <div class="bb1" style="margin-bottom: 10%; padding-bottom: 10%;">
            <h2 class="header">&emsp;- Website</h2>
            <article>
                <p>
                    This site was made to be a learning game website
                    similar to Coolmath, except with my own projects like
                    CL19. It eventually just became a "whatever small web
                    project I feel like putting together" website. It has
                    a couple labs and projects that I've made, and I'm
                    planning on adding a forum for people to chat online
                    as well.
                </p>
            </article>
        </div>
</body>

</html>
