<!DOCTYPE html>
<html>

<head>
	<%- include("parts/head") %>
	<%- include("parts/afterhead") %>
</head>

<body>
	<%- include("parts/topbar") %>
	<div class="bb1" style="margin-bottom: 15%;">
		<h1 class="title center">About Sparklet</h1>
		<h2 class="bigsubtitle center">What's this site about?</h2>
	</div>
	<div class="bb1" style="margin-bottom: 10%; padding-bottom: 10%;">
		<h2 class="header">&emsp;- Website</h2>
		<article>
			<p>
				This site was made to be a learning game website
				similar to Coolmath, except with my own projects like 
				CL19. You can host live quiz games here, read the blog,
				or play one of the many games and simulations in our
				collection.
			</p>
		</article>
	</div>
	
	<!-- Required for margins -->
	<br>


	<%- include("parts/endbody") %>
</body>

</html>
