<!DOCTYPE html>
<html lang="en-US">

<head>
	<title>Sparklet | Admin Panel</title>
	<%- include("parts/head") %>
</head>

<body>
	<%- include("parts/topbar") %>
	<div class="bb1" style="margin-bottom: 5%;">
		<div class="container bg-black border border-primary pb-3">
			ADMIN CONTROLS
		</div>
	</div>
</body>

</html>
