<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Sparklet | Admin Panel</title>
    <%- include("parts/head") %>
</head>

<body>
    <%- include("parts/topbar") %>
        <div class="bb1" style="margin-bottom: 5%;">
            <div class="container bg-black border border-primary pb-3">
                ADMIN CONTROLS
                <form action="/cpl/new-spark" method="post" enctype="multipart/form-data">
                    <label for="sparkTitle">First name:</label><br>
                    <input type="text" name="sparkTitle" placeholder="Title"><br><br>
                    <label for="sparkDesc">Last name:</label><br>
                    <input type="text" name="sparkDesc" placeholder="Desc"><br><br>
                    <input type="file" name="sparkZip" accept=".spark.zip"><br><br>
                    <input type="submit" value="Post">
                </form>
            </div>
        </div>
</body>

</html>
