<!DOCTYPE html>
<html>

<head>
	<%- include("parts/head") %>
</head>

<body>
	<%- include("parts/topbar") %>
	<div class="bb1 mb-5 pb-2">
		<h1 class="title display-1 text-white center">Sparklet Capsules</h1>
		<div class="container mt-5">
			<input class="form-control searchbox" name="search"
				type="text" placeholder="What would you like to teach?">
		</div>
	</div>
</body>

</html>
