<!DOCTYPE html>
<html>

<head>
	<%- include("parts/head") %>
	<script src="/js/capsules.js" defer></script>
</head>

<body>
	<%- include("parts/topbar") %>
	<div class="bb1 mb-5 pb-2">
		<h1 class="title display-1 text-white center">Capsule Search</h1>
		<div class="container mt-5">
			<input class="form-control searchbox" name="search"
				id="capsuleSearch" type="text"
				placeholder="What would you like to teach?">
		</div>
	</div>

	<div class="container bg-carbon
				border border-primary
				rounded py-1 mb-5" id="results">
		
		<div id="listings" class="container"></div>
		
		<div id="noresults">
			<p class="text-white display-6 mt-5 text-center">
				~ It's as shrimple as that! ~
			</p>
			<img src="https://i.giphy.com/media/IhmFCF4iB7hEV08EFH/giphy.webp"
				class="mx-auto d-block" width="150" height="150" />
		</div>
		
		<div class="row bg-white border border-primary rounded py-1 mx-5 my-4"
			style="display: none;">
			<div class="col-8">
				<p class="d-inline text-black display-6 overflow-hidden">Title</p>
				<p class="text-black">Creator</p>
			</div>
			<div class="col-4">
				<a class="btn btn-primary border border-carbon
							rounded w-100 h-100">
					<span class="display-6 align-middle">START</span>
				</a>
			</div>
		</div>
	</div>
</body>

</html>
