<!DOCTYPE html>
<html>

<head>
	<title>ACL Hackathon Project (2022)</title>
	<%- include("parts/head") %>
	<script src="/js/wordle.js" defer></script>
	<link rel="stylesheet" href="/css/wordle.min.css">
</head>

<body>
	<div class="container col-10">
		<h1 class="display-1 text-center text-white">
			Speedrun Wordle
		</h1>

		<div class="container p-4 bg-white rounded"
			id="gameFrame">

			<h3 id="lagWarning" class="display-3">
				Downloading static files... (please wait)
			</h3>
			
			<div class="container" id="cellFrame"></div>

			<input type="text" id="inputBox" class="col-6"
				placeholder="WORDLE" autocomplete="off" />
		</div>
		
		<h4 class="display-4 text-center text-white" id="timer">
			-=- 180s -=-
		</h4>
	</div>
</body>

</html>
