<!DOCTYPE html>
<html>

<head>
	<%- include("parts/head") %>
	<%- include("parts/afterhead") %>
</head>

<body>
	<%- include("parts/topbar") %>
	<div class="bb1" style="margin-bottom: 5%;">
		<h1 class="title center">Sparklet JESS</h1>
		<h2 class="bigsubtitle center">Our little Web-Computer</h2>
	</div>

	<div class="bb1" id="jessLoginBB" style="margin-bottom: 10%; padding-bottom: 15%">
		<form action="/jess" method="post">
			<div id="formContent">
				<span class="formLine">
					<label for="CID">Conductor ID</label>
					<input name="CID" type="text"
					<% if (typeof failed !== "undefined" && failed === "username") { %>
						style="background: red;"<% } %> >
				</span>
				<span class="formLine">
					<label for="Password">Password</label>
					<input name="Password" autocomplete="off" type="password"
					<% if (typeof failed !== "undefined" && failed === "password") { %>
						style="background: red;"<% } %> >
				</span>
			</div>

			<input type="submit" value="Start">
		</form>
	</div>

	<div class="bb1" style="margin-bottom: 10%; padding-bottom: 10%;">
		<article>
			<h2 class="header">&emsp;- So, what is this page?</h2>
			<p>
				Using this page, you can either sign into or create a brand new JESS VM,
				known as a Conductor (Electricity pun. You may now laugh).
			</p>

			<h2 class="header">&emsp;- And why should I care?</h2>
			<p>
				I'm pretty honest about this website, and to be fair, I don't know
				why you should care about Sparklet JESS. If you enjoy using it, then
				congratulations, I guess. This is mostly a personal project, and its
				only purpose is to be a place for educational mess-aroundery.
			</p>

			<h2 class="header">&emsp;- Why am I here?</h2>
			<p>
				Why are any of us here? Hm? Did you click the button on the NavBar?
				Maybe think before you speak, genius.
			</p>

			<h2 class="header">&emsp; - And what if the impostor vented?</h2>
			<p>Sus.</p>
		</article>
	</div>
	
	<!-- Required for margins -->
	<br>


	<%- include("parts/endbody") %>
</body>

</html>
