<!DOCTYPE html>
<html>

<head>
    <%- include("parts/head") %>
        <link rel="stylesheet" href="/css/justchat.min.css">
        <script src="/js/justchat.js" defer></script>
</head>

<body>
    <%- include("parts/topbar") %>
        <div class="container d-flex align-items-center">
            <div class="chatbox container text-center p-0 rounded-more
			bg-white border border-black shadow-lg flex-column">

                <div class="topbar mt-0 bg-lgray py-2">
                    <h4 class="display-4">Just Chat</h4>
                </div>

                <div class="users-online row container-fluid px-0 mx-0 mt-2 flex-grow-1">
                    <div class="container d-flex mb-2">
                        <div class="col overflow-hidden">
                            <div class="container mx-auto rounded-more bg-xss
							text-white pt-4 h-100 flex-grow-1">

                                <h6 class="display-6 text-black">Users</h6>
                                <hr class="border border-secondary">

                                <!-- bruh apparently css doesn't support dash as list type -->
                                <div class="text-start font-monospace text-black">
                                    <span id="usersList"></span><br><br>
                                    <span id="currentUser"></span><br>
                                    ^^^ (you)
                                </div>
                            </div>
                        </div>

                        <div class="col-9 ms-2 mh-100">
                            <!-- blue bg behind chat ui -->
                            <div class="container mx-auto rounded-more bg-xss text-black
							pt-4 h-100 flex-grow-1 d-flex mh-100 d-flex flex-column">

                                <!-- white bg for text -->
                                <div id="chatCont" class="container rounded-more 
							bg-white border border-black shadow-lg flex-grow-1
							text-start font-monospace overflow-auto"></div>

                                <div id="inputCont" class="container rounded-more bg-white
							border border-black shadow-lg flex-grow-1
							text-start font-monospace overflow-auto">
                                    <input type="text" placeholder="Type a message..."
                                        class="w-100 h-100 m-0 p-0 border-0" id="messageBox">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modals -->
        <div class="modal fade" id="rulesModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            RULES
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <ol>
                            <li>Be kind. That's about it.</li>
                        </ol>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-xss" data-bs-dismiss="modal">
                            I ACCEPT.
                        </button>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>
