<!DOCTYPE html>
<html>

<head>
	<%- include("parts/head") %>
	<link rel="stylesheet" href="css/home.css" />
</head>

<body>
	<%- include("parts/topbar") %>
	<div class="backbar type1">
		<h1>Test</h1>
		<p>Test</p>
	</div>
	<%- include("parts/endbody") %>
</body>

</html>
