<!DOCTYPE html>
<html>

<head>
	<%- include("parts/head") %>
	<script src="/js/pets.js" defer></script>
	<link rel="stylesheet" href="/css/pets.min.css">
</head>

<body>
	<%- include("parts/topbar") %>
	<div class="bb1 mb-5 pb-2">
		<h1 class="title display-1 text-white center">P/E/T/S Logo Here</h1>
		<h2 class="bigsubtitle center">Sample text</h2>
	</div>
</body>

</html>
