<!DOCTYPE html>
<html>

<head>
	<%- include("parts/head") %>
	<script src="/js/pets.js" defer></script>
	<link rel="stylesheet" href="/css/pets.min.css">
</head>

<body>
	<div class="container my-8 mb-5 pb-2">
		<h1 class="display-1 text-white center mb-5">P/E/T/S</h1>
		<h2 class="display-4 text-white center">12/04/2028</h2>
		<h3 class="display-6 text-white center">Coming Soon...</h3>
	</div>

	<div id="bottombar">
		<img src="/public/img/favicon.png">
	</div>
</body>

</html>
