<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="Portfolio page of the website's creator.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/public/img/favicon.png?">
    <link rel="shortcut icon" type="image/x-icon" href="/public/img/favicon.png?">
    <link rel="apple-touch-icon" href="/public/img/favicon.png?">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"
        defer></script>

    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/portfolio.min.css">
    <title>Sparklet | Cherry's Portfolio</title>
</head>

<body>
    <h1 class="mx-auto text-center py-5 white-on-pink">Some projects I've worked on...</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card project-card">
                    <img src="/public/img/portfolio/windot.png" class="project-img" height="250" alt="windot">
                    <div class="card-body">
                        <h5 class="card-title">windot</h5>
                        <p class="card-text">
                            A simple emoji picker for Linux, complete with skin tones,
                            searching, and recent emojis. I created it because I was
                            getting annoyed at how Emote would sometimes not register my
                            clicks properly, and I wanted to learn how to make GTK apps
                            as well, so this was the perfect way to solve 2 problems.
                        </p>
                        <a href="https://github.com/Lamby777/windot" class="btn btn-carbon">Source</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card project-card">
                    <img src="/public/img/portfolio/tql.png" class="project-img" height="250" alt="tql">
                    <div class="card-body">
                        <h5 class="card-title">TQ Launcher</h5>
                        <p class="card-text">
                            A launcher that manages your installations of TerraQuest, a
                            game made by one of my friends. It's created using Tauri, a
                            crate that allows you to create desktop applications using
                            web technologies.
                        </p>
                        <a href="https://github.com/Lamby777/tq-launcher" class="btn btn-carbon">Source</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card project-card">
                    <img src="/public/img/portfolio/dialogical.png" class="project-img" height="250" alt="dialogical">
                    <div class="card-body">
                        <h5 class="card-title">dialogical</h5>
                        <p class="card-text">
                            A domain-specific language (DSL) I created to solve the
                            surprisingly complex task of creating dialogue trees for my
                            own game P/E/T/S 2037. It supports some minor metaprogramming
                            stuff using inline scripts that can take actions like
                            importing other files or linking certain names to voice IDs.
                        </p>
                        <a href="https://crates.io/crates/dialogical" class="btn btn-carbon">Crate</a>
                        <a href="https://github.com/Lamby777/dialogical" class="btn btn-carbon">Source</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
