<!DOCTYPE html>
<html lang="en-US">

<head>
	<%- include("parts/head") %>
</head>

<body>
	<%- include("parts/topbar") %>
	<div class="bb1" style="margin-bottom: 5%;">
		<h1 class="title center text-white">Conductor <%= profileInfo.name %></h1>
	</div>
</body>

</html>
