<!DOCTYPE html>
<html>

<head>
	<%- include("parts/head") %>
	<script src="/js/quiz.js" defer></script>
</head>

<body>
	<%- include("parts/topbar") %>
	<div class="bb1 mb-2">
		<h1 class="title center display-3 text-white">Join a Quiz</h1>
	</div>

	<div class="bb1 container">
		<form onsubmit="return false;" id="quizLoginForm">
			<div id="joinCarousel" class="carousel slide pb-2" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="form-group mx-auto p-5">
							<label class="form-label text-white" for="RID">
								Room ID</label>
							<input class="form-control mt-2" name="RID"
								id="RID-input" type="text">
						</div>
					</div>
					
					<div class="carousel-item">
						<div class="form-group mx-auto">
							<label class="form-label text-white" for="username">
								Username</label>
							<input class="form-control" name="username"
								id="username-input" type="text">
						</div>
					</div>
				</div>
			</div>
		
		<input type="submit" value="Start"
			class="btn btn-primary border-black mx-auto">
		</form>
	</div>







	<!-- Modal -->
	<div class="modal fade" id="joinModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						ERROR
					</h5>
					<button type="button" class="btn-close"
						data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">
					Failed to join quiz! Try checking for typos.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
						data-bs-dismiss="modal">
						Oops...
					</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
