<!DOCTYPE html>
<html lang="en-US">

<head>
	<%- include("parts/head") %>
	<script src="/js/stratus.js" defer></script>
	<link rel="stylesheet" href="/css/quizplay.min.css">
</head>

<body>
	<%- include("parts/topbar") %>
	<div class="container bg-white border border-primary rounded p-2">
		<div class="row py-3">
			<div class="container qpAnswer col-5 py-6 bg-qa">Option A</div>
		</div>
	</div>

	<!-- Modals -->
	<div class="modal fade" id="loginNagModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="loginNagHeader">
						One sec...
					</h5>
					<button type="button" class="btn-close"
						data-bs-dismiss="modal"></button>
				</div>
				<div id="loginNagMessage" class="modal-body">
					Before you can participate in Stratus, you need to
					make an account. This is to allow for higher level
					moderation features in this experiment.
					<br>
					Remember, emails are not required! If you're worried
					about privacy, you could always just make a new account.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
						data-bs-dismiss="modal">
						Let's go!
					</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
