@import "../custombs.scss";

html, body {
	background: map-get($theme-colors, "carbon");
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

div.cell {
	aspect-ratio: 1 / 1;
	display: inline-block;
	text-align: center;
}

div.cellText {
	aspect-ratio: 1 / 1;
	width: 100%;
	display: inline-block;
	background: darkslategray;
	border-radius: 10px;
	font-size: 6em;
	text-align: center;
}

canvas#mainCanvas {
	background: red;
	display: inline;
	width: 100%;
	height: 100%;
	margin: 0;
}

#inputBox {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-weight: 1000;
}
