<!DOCTYPE html>
<html>

<head>
	<title>Sparklet | Web DAW Experiment</title>
	<%- include("../parts/head") %>
	<script src="/js/sparks/sparkwave.js" defer></script>
	<link rel="stylesheet" href="/css/sparks/sparkwave.min.css">
</head>

<body>
	//		
</body>

</html>
