<!DOCTYPE html>
<html>

<head>
	<title>Sparklet | Sudoku Solver</title>
	<%- include("../parts/head") %>
	<script src="/js/sparks/sudoku.js" defer></script>
</head>

<body>
	<%- include("../parts/topbar") %>
	<div class="container col-10">
		<h1 class="display-1 text-center text-white mb-2">
			Sudoku Solver
		</h1>

		<div class="container p-4 bg-white rounded"
			id="gameFrame">
			
			<div class="container" id="cellFrame"></div>
		</div>
	</div>
</body>

</html>
