<meta charset="utf-8">
<title>Sparklet | Online learning games</title>
<meta name="description" content="Online learning platform">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon -->
<link rel="icon" type="image/png" href="/favicon.png?">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
<link rel="apple-touch-icon" href="/favicon.ico?">

<!-- Stylesheets -->
<link rel="stylesheet/less" href="/css/default.less">
<!--link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaisei%20Tokumin"-->