<meta charset="utf-8">
<title>Sparklet | Online learning games</title>
<meta name="description" content="Online learning platform">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon -->
<link rel="icon" type="image/png" href="/public/img/favicon.png?">
<link rel="shortcut icon" type="image/x-icon" href="/public/img/favicon.png?">
<link rel="apple-touch-icon" href="/public/img/favicon.png?">

<script src="/js/bootstrap.min.js"></script>

<script>
	window.currentAccount = <%- JSON.stringify(account) %>;
</script>

<script src="/js/main.js" defer></script>
<link rel="stylesheet" href="/css/main.min.css">
