<ul id="topbar">
	<li><a href="/" id="tbarname">Home</span></a></li>
	<li><a href="/games">Games</a></li>
	<li><a href="/jess">JESS</a></li>
	<li><a href="/rooms">Rooms</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/news">News</a></li>
</ul>