<ul id="topbar">
	<li><a href="/" id="tbarname">Home</span></a></li>
	<li><a href="">Games</a></li>
	<li><a href="">Rooms</a></li>
	<li><a href="">About</a></li>
	<li><a href="/news">News</a></li>
</ul>