html, body {
	height: 100%;
	margin: 0 auto;
}

ul#topbar {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-image: linear-gradient(#777, #555);
}

ul#topbar > * a:hover {
	background-image: linear-gradient(#777, #808080);
}

.center {
	text-align: center;
}