/* Home page */

body {
	background-image: url("/img/city.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
}

h1.bigtitle {
	font-family: "Kaisei Tokumin", serif;
	font-size: 15vw;
	text-shadow: 1vw 1vw 1vw #000;
	-webkit-text-stroke: 0.2vw yellow;
	margin: 5vh 0;
}

h2.bigsubtitle {
	font-family: "Kaisei Tokumin", serif;
	font-size: 2vw;
	color: white;
	text-shadow: 0.5vw 0.5vw 0.5vw #000;
	margin-bottom: 20vh;
}

div.backbar {
	width: 100%;
	margin: 0;
}

div.backbar.type1 {
	background-image: linear-gradient(#666, #333);
	padding: 4vh 0;
}

ul#topbar {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-image: linear-gradient(#000, rgb(255, 230, 0));
}

ul#topbar > * a:hover {
	background-image: linear-gradient(#0c0c0c, rgb(255, 230, 0));
}











/* Desktop CSS */
@media only screen and (min-width: 769px) {
	body {
		margin-top: 10vh;
	}

	ul#topbar > * span, ul#topbar > * a {
		display: inline-block;
		color: white;
		text-align: center;
		padding: 3vh;
		text-decoration: none;
		font-size: 5vh;
		font-weight: 500;
	}

	ul#topbar > * {
		float: left;
	}

	ul#topbar > * span#tbarname {
		margin-right: 3vw;
	}

	div[overdraw] {
		margin: 3vh 0.5vw 1vh;
	}

	ul#topbar > * a:hover {
		text-shadow: 0 0.4vh #000;
	}

	h1#title {
		font-size: 5vw;
		font-weight: bolder;
	}

	h2#subtitle {
		font-size: 2vw;
	}
}

/* Mobile-friendly CSS */
@media only screen and (max-width: 768px) {
	body {
		margin-top: 10vw;
	}

	ul#topbar {
		display: inline-flex;
		justify-content: space-between;
	}

	ul#topbar > * span, ul#topbar > * a {
		display: block;
		color: white;
		text-align: center;
		padding: 4vw;
		text-decoration: none;
		font-size: 5vw;
		font-weight: 400;
	}

	ul#topbar > * a:hover {
		text-shadow: 0 0.5vh #000;
	}

	h1#title {
		font-size: 10vw;
		font-weight: bolder;
	}

	h2#subtitle {
		font-size: 6vw;
	}
}
