@import "./const.scss";

body {
    background-color: $xss-theme;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    color: black;
}

.chatbox {
    height: 80vh;
    display: flex;
}

#chatCont {
    max-height: 55vh;
}

#inputCont {
    max-height: 2.5rem;
}

.fw-username {
    font-weight: 1000;
    color: blue;
}

.fw-username::after {
    content: ":";
}

.admin-username {
    color: #b51105;
}
