/* Home page */

@import "~bootstrap/scss/bootstrap";
@import "custombs.scss";

// Constants
$mobile-max-width:	768px;
$col-goldenrod:		#ffe600;
$col-turmeric:		$col-goldenrod; //#fdc029;
$bg-dark:			0.7;

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@1,700&display=swap');

body {
	height: 100%;
	margin: 0 auto;
	color: white;
	background-image: linear-gradient(rgba(0, 0, 0, $bg-dark), rgba(0, 0, 0, $bg-dark)),
						url("/src/img/city.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	background-attachment: fixed;
}

.center {
	text-align: center;
}

.italic {
	font-style: italic;
}

.nodec, .nodec > * {
	color: inherit;
	text-decoration: inherit;
}

// Font used in title
@mixin kaiseiTokumin {
	font-family: "Kaisei Tokumin", Georgia, serif;
}

h1.bigtitle {
	@include kaiseiTokumin;
	
	color: black;
	font-size: 15vw;
	text-shadow: 0.8vw 0.8vw 0.8vw #000;
	-webkit-text-stroke: 0.2vw $col-turmeric;
	margin: 5vh 0;
}

h1.title:extend(h1.bigtitle) {
	font-size: 8vw;
	-webkit-text-stroke: 0.1vw $col-turmeric;
	margin-top: 6vh;
	margin-bottom: 0;
}

.bigsubtitle {
	@include kaiseiTokumin;
	font-size: 4vw;
	color: white;
	text-shadow: 0.5vw 0.5vw 0.5vw #000;
}

.header {
	@include kaiseiTokumin;
	color: white;
	text-shadow: 0.1vw 0.1vw 0.5vw #000;
}

article > p {
	//
	color: white;
}





// Containers
div.backbar {
	width: 100%;
	margin: 0;
	border: 0 solid black;
	
	& * {
		margin: 0 7%;
	}
}

div.bb1:extend(div.backbar) {
	background-image: linear-gradient(#666, #333);
	padding: 5vh 0;

	& * {
		margin: 0 7%;
	}
}

div.qpostBox {
	margin: 2% auto;
	padding: 2% 0 4% 0;
	background-color: black;
	width: 75%;
	text-align: center;
	border: 1vh solid white;
	border-radius: 10%;
	transition: border-radius 100ms linear;
	//cursor: pointer;
	&:hover {
		border-radius: 20%;
	}

	& > .newstitle {
		font-size: 4.5vw;
	}

	& > .newsdescription {
		font-size: 2vw;
	}
}

ul#topbar {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-image: linear-gradient(#000, $col-goldenrod);
	border: 0 solid black;

	& > * a {
		// A tags inside the navbar
		color: white;
		text-align: center;
		text-decoration: none;
		
		&#tbarname {
			@include kaiseiTokumin;
			
			background-image: linear-gradient(#333, #666);
			border: 0.7vh solid $col-goldenrod;
			box-sizing: content-box;
			
			&:hover {
				background-image: linear-gradient(#222, #555);
			}
		}

		&:hover {
			background-image: linear-gradient(#0c0c0c, $col-goldenrod);
			text-shadow: 0 0.4vh #000;
		}
	}
}

#jessLoginBB {
	//margin: inherit 5%;
	& > form {
		background-color: black;
		border-style: solid;
		border-width: 0.5vw;
		border-color: white;
		border-radius: 5%;
		padding: 5% 10% 10% 10%;

		& > div#formContent {
			display: flex;
			margin: 0 0 1vw 0;
			padding: 0;

			& > span.formLine {
				@extend .center;
				margin: 0;
				
				& > label {
					font-family: 'Andada Pro', serif;
					font-size: 4vw;
					margin: 0 auto;
				}

				& > input[type="text"], & > input[type="password"] {
					height: 4vw;
					padding: 0.1vw;
					width: 30vw;
					font-size: 4vw;
					margin: 0 auto;
					font-family: 'Andada Pro', serif;
					font-weight: 100;
				}
			}
		}

		& > input[type="submit"] {
			display: block;
			margin: 0 auto;
			width: 20vw;
			height: 15vh;

			font-size: 3vw;
			font-family: 'Andada Pro', serif;
			text-align: center;
		}
	}
}





/* Desktop CSS */
@media only screen and (min-width: ($mobile-max-width + 1px)) {
	body {
		margin-top: 10vh;
	}

	.bigsubtitle {
		margin-bottom: 20vh;
	}

	.header {
		font-size: 7vh;
	}

	article > p {
		font-size: 4vh;
		margin-bottom: 2vh;
	}

	ul#topbar {
		border-bottom-width: 1vh;
		
		& > * {
			float: left;

			a {
				display: inline-block;
				padding: 3vh;
				font-size: 5vh;
				font-weight: 500;

				&#tbarname {
					margin-right: 3vw;
					font-size: 3.8vh;
				}
			}
		}
	}

	div.backbar {
		border-width: 1vh 0;
	}
}



/* Mobile-friendly CSS */
@media only screen and (max-width: $mobile-max-width) {
	body {
		margin-top: 10vw;
	}

	.bigsubtitle {
		margin-bottom: 35vh;
	}

	.header {
		font-size: 7vw;
	}
	
	article > p {
		font-size: 4vw;
		margin-bottom: 2vw;
	}

	ul#topbar {
		// flexbox design for mobile
		display: inline-flex;
		justify-content: space-between;
		border-bottom-width: 1vw;

		& > * a {
			display: block;
			padding: 2.3vw;
			font-size: 4.5vw;
			font-weight: 600;

			&#tbarname {
				font-size: 3vw;
			}
		}
	}

	div.backbar {
		border-width: 1vw 0;
	}
}
