////////////////////////////////
// Active quiz session styles //
////////////////////////////////

@import "mixins.scss";

// Button colors
$carnation:			#f34e4e; //#b01e1e;
$florange:			#ff9d47;
$pkFlash:			#47ff72;
$dclavender:		#ea75ff;

.qpAnswer {
	border: 2px black solid;
	border-radius: 5%/20%;
	text-align: center;

	font-size: 2rem;
	font-weight: bold;
	
	overflow: hidden;
	white-space: nowrap;

	transition: filter 0.1s linear;

	@include selected {
		transition: filter 0.1s linear;
		filter: brightness(60%);
	}
}
