////////////////////////////////
// Active quiz session styles //
////////////////////////////////

// Button colors
$carnation:			#f34e4e; //#b01e1e;
$florange:			#ff9d47;
$pkFlash:			#47ff72;
$uglyDiscordColor:	#6347ff;

body {
	background: black;
}
